{
  "presets": ["flow"],
  "plugins": [
    "lodash",
    "styled-components",
    "transform-decorators-legacy",
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-regenerator",
    "transform-class-properties"
  ]
}
