{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "plugins": [
    "jsx-a11y"
  ],
  "rules": {
    "eqeqeq": 2,
    "no-unused-vars": "off",
    "no-mixed-operators": "off",
    "jsx-a11y/href-no-hash": "off",
    "react/prop-types": "off",
    "@typescript-eslint/no-unused-vars": [
      "error"
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "trailingComma": "es5"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}